<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
<virtualType name="Smp\Neogateway\Model\ConfigProvider" type="Magento\Payment\Model\CcGenericConfigProvider">
    <arguments>
        <argument name="methodCodes" xsi:type="array">
            <item name="neogateway" xsi:type="const">Smp\Neogateway\Model\Neogateway::CODE</item>
        </argument>
    </arguments>
</virtualType>

<type name="Magento\Checkout\Model\CompositeConfigProvider">
    <arguments>
        <argument name="configProviders" xsi:type="array">
            <item name="neogateway_config_provider" xsi:type="object">Smp\Neogateway\Model\ConfigProvider</item>
        </argument>
    </arguments>
</type>
</config>
